<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"ng-app="app">
<head>
    <title></title>


    <link href="../Stylesheets/site.css" rel="stylesheet" />
    <link href="../Stylesheets/add note.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div id="header-bg-color">
        <div class="logo col-md-5" style="margin-top: 25px;">
            <a href=" #">
                <img src="http://i.imgur.com/AfXldcB.png?1" alt="savethosenotes.com" />
            </a>
        </div>

        <div class="navbar col-5">

            <ul>
                <li><a href=" #">Home</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">My Notes</a></li>
            </ul>
        </div>
    </div>

    <div class="container" style="margin-right: -150px">
        <div class="col-md-8">

            <form>
                <input type="text" size="25%" height="50" placeholder="Note Title..." id="noteform" />
                <br />
                <br />
                <textarea form="noteform" rows="6" cols="50" id="noteform" placeholder="Enter Notes Here..."></textarea>
                <br />
                <br />

                <input type="submit" class="btn btn-success btn-lg btn-block btn-huge" />
            </form>

        </div>
    </div>


</body>

</html>