<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="../Stylesheets/site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="Content/bootstrap.min.css" rel="stylesheet" />-->
</head>
<body>

    <div id="header-bg-color">
        <div class="logo col-md-5" style="margin-top: 25px;">
            <a href="#"> <img src="http://i.imgur.com/AfXldcB.png?1" alt="savethosenotes.com" /> </a>
        </div>

        <div class="navbar col-5">

            <ul>
                <li><a href=" #">Home</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">My Notes</a></li>
            </ul>
        </div>
    </div>
    <!--end of navbar-->


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1 class="jumbotron-text">
                        Study Smarter, Together!
                    </h1>
                    <p class="jumbotron-text">
                        Save Those Notes is an online note-taking platform that gives you the ability to share your notes with your friends. It's like Facebook, for studying!
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#signup">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div id="main-page-color">
        <div class="container container-fluid">
            <!-- <fieldset>
            <div class="row clearfix">
                <div class="col-md-12 column" id="form-container" >
                    <form role="form">
                        <div class="form-group">
                            <legend>Log In: </legend>
                            <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="inputEmail" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="inputPassword" />
                        </div>

                        <div class="checkbox">
                            <label><input type="checkbox" />Save My Password</label>
                        </div> <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
             -->




            <div class="onl_login" id="signup">
                <h3 class="onl_authTitle" data-toggle="tooltip" data-placement="bottom" title="Recommended: Lumen Theme">Login or <a href="#">Sign up</a></h3>
                <div class="row onl_row-sm-offset-3 onl_socialButtons">
                    <div class="col-xs-2 col-sm-2">
                        <a href="#" class="btn btn-lg btn-block onl_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa fa-facebook fa-2x"></i>
                            <span class="hidden-xs"></span>
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <a href="#" class="btn btn-lg btn-block onl_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fa fa-twitter fa-2x"></i>
                            <span class="hidden-xs"></span>
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <a href="#" class="btn btn-lg btn-block onl_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                            <i class="fa fa-google-plus fa-2x"></i>
                            <span class="hidden-xs"></span>
                        </a>
                    </div>
                </div><br>



                <div class="row onl_row-sm-offset-3 onl_loginOr">
                    <div class="col-xs-12 col-sm-6">
                        <hr class="onl_hrOr">
                        <span class="onl_spanOr">or</span>
                    </div>
                </div>

                <div class="row onl_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-6">
                        <form class="onl_loginForm" action="" autocomplete="off" method="POST">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <span class="help-block"></span>

                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <br />

                            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                        </form>
                    </div>
                </div>
                <div class="row onl_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-3">
                        <label class="checkbox">
                            <input type="checkbox" value="remember-me">Remember Me
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <p class="onl_forgotPwd">
                            <a href="#">Forgot password?</a>
                        </p>
                    </div>
                </div>
            </div>



        </div>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </div>
    
    <!--end of grey BG color-->
    <div class="container-data" style="margin-bottom: 43px">
        <div class="row clearfix" style="margin-left: 350px;">
            <div class="col-md-6 column">
                <img style="height:auto; width:auto; max-width:180px; max-height:180px;" src="http://www.clker.com/cliparts/b/e/e/e/11949839881243335407note.svg.hi.png"><br />
                <h2>
                    <b><i>Take Note!</i></b>
                </h2>
                <p>
                    <b>Studies have shown that taking notes helps students retain more information, <br /> when compared to reading study material alone. Listen to the scientists, take notes! </b>
                </p>

            </div>
            <div class="col-md-6 column">
                <br />
                <img style="height:auto; width:auto; max-width:300px; max-height:300px;" src="http://www.clker.com/cliparts/I/X/w/b/A/L/unity-hi.png"><h2>
                    <br />

                    <b><i> Studying is more fun with friends! </i></b>
                </h2>
                <p>
                    <b> Studying alone can be boring. Share your notes with your friends <br />through Facebook and Twitter!</b>
                </p>

            </div>
        </div>
    </div>

    <center>
        <div id="main-page-color" style="padding-bottom:30px; padding-top: 20px;">
            <h5><b>SaveThoseNotes.com</b>  <span style="margin-left: 20px"><i>All Rights Reserved</i></span></h5>
        </div>
    </center>


</body>
</html>