<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>

        <link href="../Stylesheets/site.css" rel="stylesheet" />
        <link href="../Stylesheets/logged in user - home page.css" rel="stylesheet" />
        <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
        <!--<link href="Content/bootstrap.min.css" rel="stylesheet" />-->
    </head>
    <body>

        <div id="header-bg-color">
            <div class="logo col-md-5" style="margin-top: 25px;">
                <a href="#"> <img src="http://i.imgur.com/AfXldcB.png?1" alt="savethosenotes.com" /> </a>
            </div>

            <div class="navbar col-5">

                <ul>
                    <li><a href=" #">Home</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><a href="#">My Notes</a></li>
                </ul>
            </div>
        </div>
        <!--end of navbar-->

    </body>
</html>
